@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  overflow-x: hidden;
}

.special-btn::before,
.special-btn::after {
  --border-radius: 2rem;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0;
}
.special-btn::before {
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 8px 8px 0 0px white;
}
.special-btn::after {
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 8px -8px 0 0px white;
}

.curve--product--card::before,
.curve--product--card::after {
  --border-radius: 2rem;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  /* background: white; */
  bottom: 50%;
}

.curve--product--card::after {
  right: calc(var(--border-radius) * -1);
  border-radius: 0 0 0 100vw;
  box-shadow: -10px 10px 0 10px white;
}

.curve--product--card::before {
  left: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 10px 10px 0 10px white;
}

.footer--btn::after,
.footer--btn::before {
  --border-radius: 2rem;
  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  background: #f5f5f5;
}
.footer--btn::before {
  left: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 10px -10px 0 10px white;
}
.footer--btn::after {
  right: calc(var(--border-radius) * -1);
  border-radius: 100vw 0 0 0;
  box-shadow: -10px -10px 0 10px white;
}

.directors-div::before {
  background: url("/images/Directors Message/Vector.svg") no-repeat center
    center/cover;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: calc(12% + 5px);
  left: calc(8% - 6px);
}

.directors-div::after {
  background: url("/images/Directors Message/Group.svg") no-repeat center
    center/cover;
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: calc(6% + 2px);
  left: calc(38% - 2px);
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .directors-div::before {
    width: 100px;
    height: 100px;
    top: calc(8% + 5px);
    left: calc(13% - 6px);
    margin-top: 2rem;
  }
  .directors-div::after {
    width: 100px;
    height: 100px;
    top: calc(30% + 5px);
    left: calc(64% - 6px);
  }
}
